{{#if @root.flags.myFtApiWrite}}
<form class="n-myft-ui n-myft-ui--save" method="POST"
	data-content-id="{{contentId}}"
	data-myft-ui="saved"
	action="/__myft/api/core/saved/content/{{contentId}}?method=delete">
<button
	type="submit"
	class="n-myft-ui__button{{#variant}} n-myft-ui__button--{{this}}{{/variant}}"
	data-trackable="save-for-later"
	data-alternate-label="Save to myFT"
		data-alternate-text="Save"
	data-content-id="{{contentId}}" {{! duplicated here for tracking}}
	aria-label="Saved to myFT"
	title="Saved to myFT"
	aria-pressed="true"
	>
	{{!-- TODO: Tidy up this nested logic once we have the results of our A/B test--}}
	{{~#if buttonText~}}
		{{buttonText}}
	{{~else~}}
		{{~#ifEquals @root.flags.myFtSaveButtonLongerCopy 'variant'~}}
			{{#unlessEquals appIsStreamPage true}}
				<span id="save-button-longer-copy">Saved </span><span class="n-myft-ui__button--viewport-large" aria-hidden="true">to myFT</span>
			{{~else~}}
				<span>Saved</span>
			{{/unlessEquals}}
		{{~else~}}
			<span>Saved</span>
		{{~/ifEquals~}}
	{{/if}}
	</button>
</form>
{{else}}
<!-- Unsave button hidden due to myFtApiWrite being off -->
{{/if }}
