@import '../../mixins/lozenge/main';

@import "@financial-times/o-icons/main";
@import "@financial-times/o-colors/main";

.n-myft-follow-button--instant-alerts[aria-pressed=true]::after {
	content: "";
	@include oIconsContent(
		$icon-name: 'arrow-down',
		$color: oColorsByName('white'),
		$size: 10
	);
	background-size: 21px;
	background-position: 50% 41%;
	margin-left: 12px;
}

.n-myft-follow-button--instant-alerts[aria-pressed=true]::before {
	@include oIconsContent(
		$icon-name: 'mute-notifications',
		$color: oColorsMix($color: 'white', $background: 'claret', $percentage: 60),
		$size: 10
	);
	background-size: 21px;
}

.n-myft-follow-button--instant-alerts-on[aria-pressed=true]::before {
	@include oIconsContent(
		$icon-name: 'notifications',
		$color: oColorsByName('white'),
		$size: 10
	);
	background-size: 21px;
}
