$myft-lozenge-themes: (
	standard: (
		toggle-button-theme: ('color': 'claret'),
		background: oColorsByName('claret'),
		text: oColorsByName('white'),
		highlight: oColorsByName('claret-50'),
		pressed-highlight: rgba(oColorsByName('black'), 0.05),
		disabled: rgba(oColorsByName('black'), 0.5),
	),
	inverse: (
		toggle-button-theme: 'inverse',
		background: oColorsByName('white'),
		text: oColorsByName('black'),
		highlight: rgba(white, 0.8),
		pressed-highlight: rgba(white, 0.2),
		disabled: rgba(oColorsByName('white'), 0.5),
		mix-blend-mode: lighten
	),
	opinion: (
		toggle-button-theme: ('color': 'oxford-40'),
		background: oColorsByName('oxford-40'),
		text: oColorsByName('white'),
		highlight: oColorsByName('oxford-30'),
		pressed-highlight: rgba(oColorsByName('oxford-40'), 0.2),
		disabled: rgba(oColorsByName('black'), 0.5),
	),
	monochrome: (
		toggle-button-theme: 'inverse',
		background: oColorsByName('white'),
		text: oColorsByName('black'),
		highlight: oColorsByName('white-80'),
		pressed-highlight: rgba(oColorsByName('white'), 0.2),
		disabled: rgba(oColorsByName('white'), 0.5),
	),
	alphaville: (
		toggle-button-theme: 'inverse',
		background: oColorsByName('white'),
		text: oColorsByName('matisse'),
		highlight: rgba(white, 0.8),
		pressed-highlight: rgba(white, 0.2),
		disabled: rgba(oColorsByName('white'), 0.5),
	)
);

@function getThemeColor($key) {
	@return map-get($theme-map, $key);
}

// to avoid creating --standard styles
@function getThemeModifier ($theme) {
	@if $theme == 'standard' {
		@return '';
	} @else {
		@return '--#{$theme}';
	}
}

@mixin withTheme($theme) {
	@if type-of($theme) == 'map' {
		$theme-map: $theme !global;
	} @else {
		$theme-map: map-get($myft-lozenge-themes, $theme) !global;
	}

	@content;

	// stylelint-disable order/order
	$theme-map: null !global;
}
