.card {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	position: relative;
	width: auto;
	padding: 10px;
	margin-top: oGridGutter();
	overflow: visible;

	@include oGridRespondTo(M) {
		margin-top: oGridGutter(M);
	}
}
