.n-myft-concept-pill {
	@include oTypographySansBold($scale: 0);
	border: 1px solid getColor('claret');
	border-radius: 100px;
	color: getColor('claret');
	display: block;
	font-size: 16px;
	margin: 8px 13px 8px 2px;
	max-width: 200px;
	overflow: hidden;
	padding: 5px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.n-myft-concept-pill--add:before {
	content: '';
	@include oIconsGetIcon('plus', getColor('claret'), 10);
	background-size: 30px;
	margin-right: 5px;
}

.n-myft-concept-pill--added:before {
	content: '';
	@include oIconsGetIcon('tick', getColor('claret'), 10);
	background-size: 22px;
	margin-right: 5px;
}

.n-myft-concept-pill:hover {
	border: 1px solid getColor('claret');

	&:before {
		@include oIconsGetIcon('plus', getColor('black-70'), 10);
		background-size: 30px;
		margin-right: 5px;
	}

	&.n-myft-concept-pill--added:before {
		@include oIconsGetIcon('tick', getColor('black-70'), 10);
		background-size: 22px;
		margin-right: 5px;
	}
}

.n-myft-concept-pill:focus {
	border: 3px solid getColor('teal-40');
	outline-style: none;
	padding: 3px 8px;
}

.n-myft-concept-pill--disabled,
.n-myft-concept-pill--disabled:hover {
	border: 1px solid getColor('black-70');
	color: getColor('black-70');
}

.n-myft-concept-pill--inverse {
	border: 1px solid getColor('white');
	color: getColor('white');
}

.n-myft-concept-pill--inverse.n-myft-concept-pill--add:before {
	@include oIconsGetIcon('plus', getColor('white'), 10);
	background-size: 30px;
	margin-right: 5px;
}

.n-myft-concept-pill--inverse.n-myft-concept-pill--added {
	background-color: getColor('claret-90');
	border: 1px solid getColor('claret-90');

	&:before {
		@include oIconsGetIcon('tick', getColor('white'), 10);
		background-size: 22px;
		margin-right: 5px;
	}

	&:focus {
		border: 3px solid getColor('teal-40');
	}
}

.n-myft-concept-pill--inverse:hover {
	border: 1px solid getColor('white');
	color: getColor('white');
	background-color: oColorsMix('claret-90', 'claret-60', 40);

	&:before {
		@include oIconsGetIcon('plus', getColor('white'), 10);
		background-size: 30px;
		margin-right: 5px;
	}

	&.n-myft-concept-pill--added:before {
		@include oIconsGetIcon('tick', getColor('white'), 10);
		background-size: 22px;
		margin-right: 5px;
	}
}
