$o-expander-is-silent : false;
@import 'o-expander/main';

.sticky-header__myft-notification,
.header__myft-notification {
	align-self: center;
}

.myft-notification__container--flex {
	display: flex;
	justify-content: flex-end;
}

.myft-notification__icon {
	&.o-expander__toggle {
		position: relative;
		cursor: pointer;
		align-self: center;
		@include oIconsGetIcon('notifications', oColorsGetPaletteColor('black'), 32);
		i {
			display: none;
		}
	}
}

.myft-notification__icon--with-dot {
	&:after {
		content: '';
		background: oColorsGetPaletteColor('claret');
		border-radius: 50%;
		width: 8px;
		height: 8px;
		display: block;
		position: absolute;
		right: 4px;
		top: 2px;
	}
}

.myft-notification__content {
	background: oColorsGetPaletteColor('white');
	padding: 20px;
	text-align: left;
	white-space: normal;
	@include nUiZIndexFor('welcome');
	@include oVisualEffectsShadowsElevation('ultralow', getColor('black'));
	position: absolute;
	right: oGridGutter(M);
	width: 260px;

	.o-header--sticky & {
		visibility: hidden;
	}

	.o-header--sticky-active & {
		visibility: visible;
	}

	h1 {
		@include oTypographyMargin($top: 0, $bottom: 4);
		@include oTypographySansBold($scale: 0);
	}
	.o-teaser__heading {
		@include oTypographySans($scale: 0);
	}
	.o-teaser--small {
		border-bottom: 0;
		border-top: 1px solid oColorsMix(black, white, 20);
		@include oTypographyPadding($top: 3, $bottom: 0);
		@include oTypographyMargin($bottom: 3);
	}
}

.myft-notification__button--all-stories {
	width: 260px;
	@include oButtons($theme: primary);
	@include oTypographyMargin($bottom: 4);
}
