$o-tooltip-is-silent : false;
@import 'o-tooltip/main';

#header__myft-notification-tooltip--target + .o-tooltip {
	.o-tooltip-content {
		text-align: left;
		padding-top: 30px;
	}
}

.myft-notification__container--flex {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.myft-notification__icon {
	position: relative;
	cursor: pointer;
	align-self: center;
	@include oIconsGetIcon('notifications', oColorsGetPaletteColor('black'), 32);
}

.myft-notification__icon--with-dot {
	&:after {
		content: '';
		background: oColorsGetPaletteColor('claret');
		border-radius: 50%;
		width: 8px;
		height: 8px;
		display: block;
		position: absolute;
		right: 4px;
		top: 2px;
	}
}

.myft-notification__button--mark-as-read {
	@include oButtons($theme: mono);
	@include oTypographyMargin($bottom: 4);
	float: right;
}
