@import '../../../mixins/lozenge/main.scss';

@import "@financial-times/o-icons/main";
@import "@financial-times/o-colors/main";

@mixin bellOffIcon($color, $background) {
	@include oIconsContent(
		$icon-name: 'mute-notifications',
		$color: oColorsMix(
			$color: $color,
			$background: $background,
			$percentage: 60,
		),
		$size: 10
	);
	background-size: 21px;
}

@mixin bellOnIcon($color) {
	@include oIconsContent(
		$icon-name: 'notifications',
		$color: $color,
		$size: 10
	);
	background-size: 21px;
}

@mixin arrowIcon($icon-name, $color) {
	content: "";
	@include oIconsContent(
		$icon-name: $icon-name,
		$color: $color,
		$size: 10
	);
	background-size: 21px;
	background-position: 50% 41%;
	margin-left: 12px;
}

@mixin myftFollowButtonPlusToggleIcons($theme: standard) {
	@include withTheme($theme) {
		&.n-myft-follow-button--instant-alerts[aria-pressed=true]::before {
			@include bellOffIcon(getThemeColor(text), getThemeColor(background));
		}

		&.n-myft-follow-button--instant-alerts--on[aria-pressed=true]::before {
			@include bellOnIcon(getThemeColor(text));
		}

		&.n-myft-follow-button--instant-alerts[aria-pressed=true]::after {
			@include arrowIcon('arrow-down', getThemeColor(text));
		}

		&.n-myft-follow-button--instant-alerts--open[aria-pressed=true]::after {
			@include arrowIcon('arrow-up', getThemeColor(text));
		}
	}
}

@each $theme in map-keys($myft-lozenge-themes) {
	.n-myft-follow-button#{getThemeModifier($theme)} {
		@include myftFollowButtonPlusToggleIcons($theme);
	}
}
